

.carousel-item{
background-color: rgba(0, 0, 0, 0.7);

}

.carousel-inner .carousel-item .carousel-caption img{
 width:150px;
 height:150px;
}

.carousel-caption h5{
  font-size: 20px;
  color:#FFFFFF;
  
}

.carousel-caption h4{
  font-size: 18px;
  color:#FFFFFF;
}

.carousel-caption p{
  color:#FFFFFF;
}

.carousel-caption{

  position: absolute;
}


/*maps*/

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    width:100%;

    position:absolute;
}





