
@media (min-width: 300px) and (max-width: 350px){
    .logoSSY{
        width: 184px !important;
        height: auto !important;
    }
}

@media (max-width: 576px){
    .tema{
        font-size: 1.25rem !important;
    }

    .heading{
        padding: .5rem;
    }
    
    h1{
        font-size: 1rem;
    }
    
    h3{
        font-size: .75rem;
    }
}

@media (min-width: 768px) and (max-width: 874px){
    .headerC{
        font-size: .75rem;
    }
}

body{
    position: relative;
}

.overlay{
    background-color: rgba(0, 0, 0,0.7);
}

.hueco{
    height: 80px;
}

.inicio{
    background-image: url("../images/bghealth.jpg");
    background-color: rgb(105, 105, 105);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerC{
    color: #005A78;
}

.logoSSY{
    height: auto;
    width: auto;
    max-width: 240px;
}

.bg-img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

    width: 100% !important;
    height: 100% !important;
}

.tema{
    font-size: 1.5rem;
}

.tema, .estadoF, .estadoC, .estadoP{
    color: white;
}

.estadoF, .estadoC, .estadoP{
    width: 104px;
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center;    
}
.subtitulo, .infoTema, .card-title, .card-text{
    color: #002E3D;
}

.estadoF{
    background-color: rgba(194, 51, 51,.8);
    
}

.estadoC{
    background-color: rgba(82, 96, 185,.8);
}

.estadoP{
    background-color: rgba(26, 160, 51,.8);
}

.iconArrow{
    width: 32px;
    height: 32px;
}

#sticky-footer{
    background-color: #005A78;
}

.sn-icon{
    width: 32px;
    height: 32px;
}

.tema1, #collapseOne div div div .card{
    border: 1px solid #f25a5a;
}

#headingOne{
    background-color: #f25a5a;
}

.tema2, #collapseTwo div div div .card{
    border: 1px solid #136bb2;
}

#headingTwo{
    background-color: #136bb2;
}

.tema3, #collapseThree div div div .card{
    border: 1px solid #15aa8c;
}

#headingThree{
    background-color: #15aa8c;
}

.tema4, #collapseFour div div div .card{
    border: 1px solid #c83d85;
}

#headingFour{
    background-color: #c83d85;
}

.tema5, #collapseFive div div div .card{
    border: 1px solid #f48d2b;
}

#headingFive{
    background-color: #f48d2b;
}

.nav-link.active{
    background-color: #005A78 !important;
}

.circular{
    width: 120px;
    height: 120px;
}