
@media (min-width: 320px){
    .tema{
        font-size: 1.25rem;
    }

    .heading{
        padding: .5rem;
    }
}

.overlay{
    background-color: rgba(0, 0, 0,0.7);
}

.inicio{
    background-image: url("../images/bghealth.jpg");
    background-color: rgb(105, 105, 105);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerC{
    color: #005A78;
}

main > .container-flex {
    padding: 80px 0 0 0;
}

.logoSSY{
    height: 64px;
    width: auto;
}

.bg-img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

    width: 100% !important;
    height: 100% !important;
}

.tema, .estadoF, .estadoC, .estadoP{
    color: white;
}

.estadoF, .estadoC, .estadoP{
    width: 152px;
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center;    
}
.subtitulo, .infoTema, .card-title, .card-text{
    color: #002E3D;
}

.estadoF{
    background-color: rgb(194, 51, 51);
    
}

.estadoC{
    background-color: rgb(82, 96, 185);
}

.estadoP{
    background-color: rgb(26, 160, 51);
}

.iconArrow{
    width: 32px;
    height: 32px;
}

#sticky-footer{
    background-color: #005A78;
}

.sn-icon{
    width: 32px;
    height: 32px;
}

.tema1, #collapseOne div div div .card{
    border: 1px solid #f25a5a;
}

#headingOne{
    background-color: #f25a5a;
}

.tema2, #collapseTwo div div div .card{
    border: 1px solid #136bb2;
}

#headingTwo{
    background-color: #136bb2;
}

.tema3, #collapseThree div div div .card{
    border: 1px solid #15aa8c;
}

#headingThree{
    background-color: #15aa8c;
}

.tema4, #collapseFour div div div .card{
    border: 1px solid #c83d85;
}

#headingFour{
    background-color: #c83d85;
}

.tema5, #collapseFive div div div .card{
    border: 1px solid #f48d2b;
}

#headingFive{
    background-color: #f48d2b;
}